doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='David Faveris')
        meta(name='author' content='David Faveris')

        title David Faveris

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none David Faveris
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') David Faveris
                        br 
                        | - EXPERIENCES -
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience-informatique-dgfip') Informatique DGFiP
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience-fiscale-dgfip') Fiscale DGFiP
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience-perso-informatique') Personnelle Informatique
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience-associative') Associations
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Formation
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Compétences
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#soft') Soft skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') CEntres d'intérêts
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Hackathons & Tutoriels

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | David 
                        span.text-primary Faveris
                    .subheading.mb-5
                        | 4 rue Ferdinand Laulanié · 31100 Toulouse · 06.71.57.89.14 · 
                        a(href='mailto:david.faveris@dgfip.finances.gouv.fr') david.faveris@dgfip.finances.gouv.fr
                        br
                        br
                        a.text-primary(href='assets/CV David Faveris - Enfip.pdf' target="_blank" ) Télécharger la version PDF imprimable de mon CV.
                    p.lead.mb-5
                        | Vingt cinq ans de carrière à la DGFiP, m'ont permis d'acquérir l'experience et l'expertise précieuses de plusieurs postes,
                        |  tant dans le domaine fiscal qu'informatique.
                        br
                        | Passionné d'apprentissages permanents, j'ai à coeur de transmettre mes connaissances vers différents publics, accompagner leurs découvertes
                        | dans ces domaines afin que chacun puisse évoluer au mieux dans un environnement toujours plus numérique.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/davidfaveris/' target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/scenaristeur' target="_blank")
                            i.fab.fa-github
           

            hr.m-0




            // Experience Informatique DGFIP
            section#experience-informatique-dgfip.resume-section
                .resume-section-content
                    h2.mb-5 Expérience Informatique DGFiP

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Devéloppeur ISAC (Infra. de Supervision des App. Copernic) · MOE déléguée
                            .subheading.mb-3 Pôle de Supervision Nationale · Cellule Technique · ESI Lyon
                            div
                                | Exploitation et maintenance des simulateurs ISAC-v4 (phantomjs, casperjs) et ISAC-v3 (perl).
                            div   
                                | Conception, développement, exploitation du simulateur ISAC-v5 (Jenkins, Selenium), confection des RPMs et livrables. 
                            div 
                                | Développement (en mode Agile avec la MOA) des graphiques & tableaux de restitution du projet ISAC-local (portage d'ISAC sur ordinateurs portables pour permettre aux SIL de tester l'accès aux applications depuis un service). 
                            div 
                                | Assistance à l'Intex et aux développements des scenarios ISAC. Mise en production. Formation des scenaristes, documentation, conduite du changement.
                            p 
                                | Conception et développement de la future interface graphique de restitution d'ISAC, en binôme avec le consultant.
                            p 
                                |Languages et outils: HTML5/CSS3, JavaScript, Node.js, Vue.js, JSON, Jenkins, Selenium, PostgeSQL, Php/symfony, perl, Forge interministériel Gitlab
                        .flex-shrink-0
                            span.text-primary Juillet 2017 - Août 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Développeur TINA
                            .subheading.mb-3 Mission de Support National Sauvegarde · ESI Lyon 
                            div
                                | Développement du socle de sauvegarde Tina, en collaboration avec la MOA.
                            p
                                | Conception & création d'un outil de génération automatique des documents Libreoffice B114 et C5 du DEX (Document d'Exploitation).
                            p 
                                |Languages : tinashell, linux, bash, xml, JSON, perl, JavaScript, jquery, automatisation.
                        .flex-shrink-0
                            span.text-primary Septembre 2015 - Juillet 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Assistant Informatique
                            .subheading.mb-3 Assistance Technique Professionnelle · ESI Lyon 
                            p
                                | Assitance métier "Service des Impôts des Entreprises" et poste de travail, contacts, gestion de tickets, reporting, pédagogie.
                        .flex-shrink-0
                            span.text-primary Septembre 2014 - Août 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Cellule Micro Informatique
                            .subheading.mb-3 Direction des Services Fiscaux de l'Isère
                            p
                                | Installation, configuration, dépannage des postes de travail des collègues. Assistance aux utilisateurs.
                                | diagnostic, téléphonie (gestion des autocoms). Création, gestion et maintenance site intranet de la DSF (SPIP, php/Mysql). 
                        .flex-shrink-0
                            span.text-primary Septembre 2000 - Août 2008

            hr.m-0

            // Experience Fiscale DGFIP
            section#experience-fiscale-dgfip.resume-section
                .resume-section-content
                    h2.mb-5 Expérience Fiscale DGFiP


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Agent SIP Trévoux (01)
                            .subheading.mb-3 Direction des Services Fiscaux de l'Ain
                            p
                                | Gestion des dossiers des particuliers, contentieux, réclamations, assiette de l'impôt. Reception  et renseignements du public.
                            p 
                                |Outils : Iliad, portail applicatif, outils du SIP.
                        .flex-shrink-0
                            span.text-primary Septembre 2012 -  Août 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Agent SIP / SIE APT (84) + Gestionnaire de site micro
                            .subheading.mb-3 Direction des Services Fiscaux du Vaucluse  
                            div
                                | SIP : Gestion des dossiers des particuliers, contentieux, réclamations.
                            div
                                | SIE : Gestion des dossiers des entreprises, contentieux, réclamations.
                            p 
                                |Outils : Iliad, Bdrp, Gespro.
                        .flex-shrink-0
                            span.text-primary Septembre 2008 - Août 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Agent · Enregistrement
                            .subheading.mb-3 Recette des Impôts Grenoble Grésivaudan · Direction des Services Fiscaux de l'Isère
                            div
                                | Enregistrement des actes notariés et successions. Aide à la saisie de la TVA & aide compta.
                        .flex-shrink-0
                            span.text-primary Septembre 1999 - Août 2000

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Agent · Services Communs
                            .subheading.mb-3 Direction des Services Fiscaux de  Paris-Ouest
                            div
                                | Accueil, courrier, gestion des imprimés. Paris XVI<sup>ème</sup> & Paris VII<sup>ème</sup>
                        .flex-shrink-0
                            span.text-primary Septembre 1996 - Août 1999

            hr.m-0

            // Experience Informatique Personnelle
            section#experience-perso-informatique.resume-section
                .resume-section-content
                    h2.mb-5 Expérience Personnelle Informatique

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Intelligence Artificielle Générative
                            .subheading.mb-3 Découverte de l'IA générative.
                            p
                                | Découverte de l'IA générative d'images, de textes, d'audio etc. 
                                | Prise en main des outils de Machine Learning, 
                                | LLM (Large Modèles de Langage, sur lesquels est développé ChatGPT), entraînement de ces modèles.
                            div   
                                | Expérimentations: 
                                ul 
                                    li
                                        | FiscAi : Conseiller fiscal basé sur IA ayant ingurgité le Code Général des Impôts
                                    li
                                        | Numerai : Créateur d'histoires écrites conjointement par l'utilisateur et une IA, avec génération des illustrations.    
                        .flex-shrink-0
                            span.text-primary 2022 - 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            //- h3.mb-0 Web Design Intern
                            //- .subheading.mb-3 Shout! Media Productions
                            h3.mb-0 Recherches et projets persos
                            .subheading.mb-3 Explorations et Découvertes
                            div
                                | Intérêt pour les données décentralisées - (Projet Solid de Tim Berners Lee), la visualisation des données sous formes de graphes / mindmap / 3D. Et leur application aux projets d'institutions territoriales opendata, Données ouvertes
                            div
                                | Développement d'applications Web et mobiles utilisant ces technologies. 
                            div 
                                | Robotique, objets connectés, DIY, (Arduino, Raspberry), Blockchain...
                            div
                                | Intelligence distribuée, et collaborative, en parallèle avec le management et l'holacratie. Intérêt pour les neurosciences et les sciences de l'apprentissage. Paticipation à plusieurs hackathon. 
                        .flex-shrink-0
                            span.text-primary 2013 - 2023

            hr.m-0


            // Experience Associative
            section#experience-associative.resume-section
                .resume-section-content
                    h2.mb-5 Expérience Associative

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Animateur Ateliers CREATIC
                            .subheading.mb-3 Missions locales - Vaulx-en-Vélin
                            p
                                | Animation de Cours / Atelier pour permettre à de jeunes adultes de découvrir les métiers du Web et de l'informatique, et d'envisager une reconversion. 

                            div
                                | HTML / CSS / JS / Vue.je  + culture générale sur le Web,  devenir acteur et pas seulement consommateur
                        .flex-shrink-0
                            span.text-primary 2018 - 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Bénévole association, transmission et vulgarisation
                            .subheading.mb-3 "Les Bricodeurs" - collectif numérique citoyen - Lyon 
                            ul
                                li
                                    | Animation d'ateliers et d'événemlents en écoles et soirées Meetup
                                li 
                                    | Découverte de la programmation tout publics, professionnels et novices 
                                li
                                    | Veille et exposés sur l'actualité numérique. 
                                li
                                    | Organisation ; de hackathons, soirées de partages et échanges sur projets, réseautage, mise en relation d'acteurs
                            p
                                | Outils: Scratch, Arduino, Thymio, P5Js, Stable Diffusion...

                        .flex-shrink-0
                            span.text-primary 2015 - 2023

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Formation

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5 
                        .flex-grow-1
                            h3.mb-0 ENFIP Toulouse
                            .subheading.mb-3 Formation Inspecteur PSE
                        .flex-shrink-0
                            span.text-primary Septembre 2023 - Present
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5 
                        .flex-grow-1
                            h3.mb-0 Nubothon
                            .subheading.mb-3 Formation Cloud Nubo DGFiP
                            div Nubo - Terraform - Ansible
                        .flex-shrink-0
                            span.text-primary Mars 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ENFIP Toulouse
                            .subheading.mb-3 Formation Contrôleur - Programmeur
                            div Php - Cobol
                            p promotion CSP 21
                        .flex-shrink-0
                            span.text-primary Octobre 2013 -  2014

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Faculté des Sciences et des techniques · Nantes
                            .subheading.mb-3 DEUG MIAS, Mathématiques & Informatique appliquées aux sciences
                            //- p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary Septembre 1995 - Septembre 1996

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Lycée Douanier Rousseau · Laval 
                            .subheading.mb-3 BAC scientifique
                            //- p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary Août 1995

            hr.m-0

            // Skills






            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Compétences
                    .subheading.mb-3 Languages de programmation et outils
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-ubuntu
                        li.list-inline-item
                            i.fab.fa-centos
                        li.list-inline-item
                            i.fab.fa-redhat
                        li.list-inline-item
                            i.fab.fa-windows
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-gitlab
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-android
                        li.list-inline-item
                            i.fas.fa-mobile
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-vuejs
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-unity
                        li.list-inline-item
                            i.fab.fa-jenkins
                        li.list-inline-item
                            i.fab.fa-docker

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Design Responsive, Progressive WebApp
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Tests, Debugging, Automation, Jenkins, Sélenium
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Robotique, Objets connectés, Arduino, raspberry-pi
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Jeu, 3D, three.js
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Intelligence Artificielle, Machine Learning, IA Générative
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Dévelopement Agile, Scrum
                        li


            hr.m-0

            // soft
            section#soft.resume-section
                .resume-section-content
                    h2.mb-5 Soft skills
                    ul
                        li
                            | Esprit de synthèse
                        li
                            | Capacités à construire un contenu pédagogique 
                        li
                            | Qualités oratoires 
                        li
                            | Enthousiasme et tempérence 
                    p.mb-0


            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Centres d'intérêts
                    p
                        | Travail collaboratif, holacratie, patage de connaissances...
                    p 
                        | Anglais lu, écrit, parlé
                    p.mb-0
                        | Musicien amateur (basse), me déplace essentiellement à vélo

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Hackathons & tutoriels
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Participations à plusieurs hackathons. Museomix, Nuit du Code Citoyen, Hacking-health...
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Création et enregistrements de tutoriels vidéos sur youtube, pour faciliter la prise en main d'outils numériques, ou pratiques de développement
                        li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 1
                        //-     sup st 
                        //-     | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 1
                        //-     sup st 
                        //-     | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 2
                        //-     sup nd 
                        //-     | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 1
                        //-     sup st 
                        //-     | Place - James Buchanan High School - Hackathon 2006
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | 3
                        //-     sup rd 
                        //-     | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')